<!doctype html>

<html lang="en">
  
  <head>
    
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="static/20230616_144154.png">
    
    <title>MADDY'S to-do list</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="bg-dark text-white bg-gradient container text-center mt-3">

  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand ms-2" href="#">
      <img src = "{{photo}}" width="30" height="30" class="align-top mb-1 rounded-circle" alt="">
    NOTEPAD
    </a>
  </nav>
</body>
